.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#page-container {
  align-items: flex-start;
}

#title{
  font-size: large;
  margin-left: 75px;
}

#account-detail-container {
  font-size: large;
  margin-top: 75px;
}

#trade-data-container {
  display: flex;
  align-items: flex-start;
}

#plot-container {
  margin: 0 auto;
  margin-left: 75px;
  justify-content: left;
}

#trade-marker {
  width: 500px;
  margin-left: 75px;
  overflow-x: auto;
  align-self: end;
}