alpaca-trade-api==3.2.0
appdirs==1.4.4
APScheduler==3.10.4
asgiref==3.8.1
async-timeout==4.0.3
attrs==20.3.0
Babel==2.9.1
beautifulsoup4==4.12.3
certbot==2.6.0
certbot-nginx==2.6.0
certifi==2024.2.2
chevron==0.13.1
ConfigArgParse==1.7
cryptography==36.0.1
Django==4.2.12
django-cors-headers==4.3.1
djangorestframework==3.15.1
docutils==0.16
frozendict==2.4.3
frozenlist==1.4.1
gunicorn==22.0.0
msgpack==1.0.3
multidict==6.0.5
multitasking==0.0.11
numpy==1.26.4
pandas==2.2.2
parsedatetime==2.6
ply==3.11
prettytable==0.7.2
prompt-toolkit==3.0.24
psycopg2-binary==2.9.9
python-daemon==2.3.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
sqlparse==0.5.0
urllib3==1.26.18
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
yfinance==0.2.38